/* 

------------------------------------------------------------------

*/

div#link-logCheckouts:hover {
  cursor: pointer;
}

/* 

------------------------------------------------------------------

*/

#modal-logCheckouts div.modal-header {
  background-color: #1f4b70;
}

#modal-logCheckouts div.modal-body {
  padding: 0;
}

#modal-logCheckouts div.modal-body table tbody {
  font-family: 'Stolzl Book', sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  color: #000;
}

#modal-logCheckouts div.modal-content {
  border: 2px solid #1f4b70;
  border-radius: 0.5rem;
}

#table-logCheckouts>thead>tr>th:first-child,
#table-logCheckouts>tbody>tr>td:first-child {
  width: 25%;
  text-align: left;
}

#table-logCheckouts>thead>tr>th:nth-child(2),
#table-logCheckouts>tbody>tr>td:nth-child(2) {
  width: 65%;
  text-align: left;
}

#table-logCheckouts>thead>tr>th:nth-child(3),
#table-logCheckouts>tbody>tr>td:nth-child(3) {
  width: 10%;
  text-align: right;
}